---
layout: default
title: ZhongUncle 的博客
---
<h1>ZhongUncle 介绍</h1>
<p>我是 ZhongUncle，欢迎来到我的博客。如果你喜欢的话，可以在 <a href="https://github.com/ZhongUncle/zhonguncle.github.io">GitHub 仓库</a> 上给我点一个 Star 支持我哦！如果想评论，还请在 GitHub 发一个 issue 哦～</p>
<p>本站点目前主要用于备份我发在 CSDN 上的博客（大多是关于计算机方面的），但是也会发一些不想在大网站发的内容（大概率是因为处在热潮之中，会有很多半吊子发表一些低水平或不知所云的评论），根本没有有效的交流。此外还会有一些尝试的纪录、书籍的推荐等值得记录的内容。</p>
<p>由于出于备份的目的，所以在使用到非 Markdown 通用功能的情况下，为了防止不兼容或者未来框架的变化导致显示不全，会贴出 PDF，这样无论浏览器、服务器框架如何变化，都可以最大限度地保留内容到未来。</p>
<b>After 2 years(about 2025), I will translate all blogs into English to exercise my English ability. Before that, if you can't read Chinese, please use the translation function of your browser. I have divided the parts of HTML as clearly as possible, so that the translator will not translate in a wrong way, such as translate the code.</b>

<h1>最新</h1>

<ul>
    {% for blog in site.blogs reversed %}
    <li>
        <h2><a class="blog" href="{{ blog.url }}">{{ blog.title }}</a></h2>
        <p class="info">{{ blog.date | date: "%Y-%m-%d" }} ｜ <a href="/{{ blog.category | downcase }}.html"> {{ blog.category }}</a> ｜ {{ blog.content | number_of_words: "auto" }} 字</p>
        
        {% assign excerptParts = blog.excerpt | split: "<!-- excerpt-start -->" %}
        <p>{{ excerptParts[1] | strip_html }}</p>

        {% if blog.image != nil %}
        <img src="{{ blog.image }}" style="box-shadow: 0px 0px 0px 0px; max-height: 500px; margin: 0px;">
        {% endif %}
        
    </li>
    {% endfor %}
</ul>