.blogslist {
    margin: 10px;
    text-align: center;
}
.blogslist ul {
    list-style: none;
    display: inline-block;
    text-align: left;
}
.blogslist a {
    font-size: large;
    color: #313132;
    margin: 10px;
    text-decoration: none;
}