.header {
    /* background-color: #d2d2d7; */
    background-color: #313132;
    height: 44px;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px;
    position: fixed;
    z-index: 999;
}
.headerItem {
    color: #f5f5f7;
    margin: 10px;
    text-decoration: none;
}

/* 不然会有白边 */
body {
    margin: 0px;
}