/* 导入各种代码高亮CSS文件 */
@import "/assets/css/codestyle/swift.css";
@import "/assets/css/codestyle/bash.css";
@import "/assets/css/codestyle/python.css";
@import "/assets/css/codestyle/c.css";
@import "/assets/css/codestyle/cpp.css";
/* 整体页面样式 */
.stackedit__html {
    margin-bottom: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 750px
}

body,
html {
    /* 正文文本颜色 */
    color: rgba(0, 0, 0, .90);
    /* 正文文本字体大小 */
    font-size: 16px;
    /* 调用字体 */
    font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
    /* 文字表现 */
    font-variant-ligatures: common-ligatures;
    /* 行高 */
    line-height: 1.67;
    /* 字体边缘效果 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

/* 针对每篇博客的“日期-专栏”部分 */
.info {
    font-size: smaller;
}

.info:after {
    content: "";
    display: block;
    position: relative;
    top: .33em;
    border-bottom: 1px solid hsla(0, 0%, 50%, .33)
}

/* 针对标题，不要让间隙过大 */
h1
{
    font-size: 1.8em;
    margin: 1.8em 0;
    margin-bottom: 0;
    line-height: 1.33
}

h2
{
    font-size: 1.3em;
    margin: 1.7em 0;
    margin-bottom: 0;
    line-height: 1
}

h1:after,
h2:after
{
    content: "";
    display: block;
    position: relative;
    top: .33em;
    border-bottom: 1px solid hsla(0, 0%, 50%, .33)
}

/* 调整连接的颜色和样式，这样好看一点 */
a {
    text-decoration: none;
    color: #06c;
    /* text-decoration: underline; */
    text-decoration-skip: ink
}

a:focus,
a:hover {
    text-decoration: none
}

/* 博客中的图片样式，加阴影，限制尺寸 */
img {
    margin: 1em 0;
    max-height: 450px;
    max-width: 600px;
    box-shadow: 0px 0px 10px 5px rgba(98, 98, 98, 0.33);
}

/* 代码样式 */
code
{
    font-size: 0.8em;
    color: #ba4746;
    background-color: rgba(0, 0, 0, .05);
    padding: 2px 4px
}

/* 代码部分的灰色背景 */
pre>code {
    font-size: 1em;
    color: #111;
    background-color: rgba(0, 0, 0, .05);
    display: block;
    padding: .5em;
    -webkit-text-size-adjust: none;
    overflow-x: auto;
    white-space: pre
}

/* 表格 */
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 8px 12px
}

/* 头行颜色 */
thead {
    background-color: #BEC0BF
}

/* 隔行颜色 */
tbody>tr:nth-child(even) {
    background-color: #F5F5F5
}

tbody>tr:nth-child(odd) {
    background-color: #FFFFFF
}