/* ! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
article,
aside,
footer,
header,
nav,
section {
    display: block
}

figcaption,
figure {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

main {
    display: block
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}



svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

details {
    display: block
}

summary {
    display: list-item
}

menu {
    display: block
}

canvas {
    display: inline-block
}

blockquote,
dl,
ol,
p,
pre {
    margin: 1.2em 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0
}

dt {
    font-weight: 700
}

code,
pre,
samp {
    font-family: Roboto Mono, Lucida Sans Typewriter, Lucida Console, monaco, Courrier, monospace;
    font-size: .85em
}

code *,
pre *,
samp * {
    font-size: inherit
}

blockquote {
    color: rgba(0, 0, 0, .5);
    padding-left: 1.5em;
    border-left: 5px solid rgba(0, 0, 0, .1)
}

.app--dark .layout__panel--editor blockquote,
.app--dark .layout__panel--preview blockquote {
    color: hsla(0, 0%, 100%, .4);
    border-left-color: hsla(0, 0%, 100%, .1)
}



hr {
    border: 0;
    border-top: 1px solid hsla(0, 0%, 50%, .33);
    margin: 2em 0
}


.toc ul {
    list-style-type: none;
    padding-left: 20px
}

mark {
    background-color: #f8f840
}

kbd {
    font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
    background-color: #fff;
    border: 1px solid rgba(63, 63, 63, .25);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(63, 63, 63, .25);
    color: #333;
    display: inline-block;
    font-size: .8em;
    margin: 0 .1em;
    padding: .1em .6em;
    white-space: nowrap
}

abbr[title] {
    border-bottom: 1px dotted #777;
    cursor: help
}

.task-list-item {
    list-style-type: none
}

.task-list-item-checkbox {
    margin: 0 .2em 0 -1.3em
}

.footnote {
    font-size: .8em;
    position: relative;
    top: -.25em;
    vertical-align: top
}

.page-break-after {
    page-break-after: always
}

.abc-notation-block {
    overflow-x: auto !important
}



.stackedit__toc ul {
    margin-top: 44px;
    padding: 0
}

.stackedit__toc ul a {
    margin: .5rem 0;
    padding: .5rem 1rem
}

.stackedit__toc ul ul {
    color: #888;
    font-size: .9em
}

.stackedit__toc ul ul a {
    margin: 0;
    padding: .1rem 1rem
}

.stackedit__toc li {
    display: block
}

.stackedit__toc a {
    display: block;
    color: inherit;
    text-decoration: none
}

.stackedit__toc a:active,
.stackedit__toc a:focus,
.stackedit__toc a:hover {
    background-color: rgba(0, 0, 0, .075);
    border-radius: 3px
}

.stackedit__left {
    position: fixed;
    display: none;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none
}

@media (min-width:1060px) {
    .stackedit__left {
        display: block
    }
}

.stackedit__right {
    position: absolute;
    right: 0;
    top: 0;
    left: 0
}

@media (min-width:1060px) {
    .stackedit__right {
        left: 250px
    }
}

.stackedit--pdf blockquote {
    border-left-color: #ececec
}

.stackedit--pdf .stackedit__html {
    padding-left: 0;
    padding-right: 0;
    max-width: none
}