.header {
    /* background-color: #d2d2d7; */
    background-color: #313132;
    height: 44px;
    display: flex;
    margin:0px;
}
.headerItem {
    color: #f5f5f7;
    margin: 10px;
    text-decoration: none;
}

/* 不然会有白边 */
body {
    margin: 0px;
}