/* 导入各种代码高亮CSS文件 */
@import "/assets/css/codestyle/swift.css";
@import "/assets/css/codestyle/bash.css";
@import "/assets/css/codestyle/python.css";
@import "/assets/css/codestyle/c.css";
@import "/assets/css/codestyle/cpp.css";
/* 针对每篇博客的“日期-专栏”部分 */
.info {
    margin-bottom: 0;
}

.info:after {
    content: "";
    display: block;
    position: relative;
    top: .33em;
    border-bottom: 1px solid hsla(0, 0%, 50%, .33)
}

/* 针对标题，不要让间隙过大 */
h1
{
    font-size: 2em;
    margin: 1.8em 0;
    margin-bottom: 0;
    line-height: 1.33
}

h2
{
    font-size: 1.5em;
    margin: 1.8em 0;
    margin-bottom: 0;
    line-height: 1
}

h1:after,
h2:after {
    content: "";
    display: block;
    position: relative;
    top: .33em;
    border-bottom: 1px solid hsla(0, 0%, 50%, .33)
}

/* 调整连接的颜色和样式，这样好看一点 */
a {
    text-decoration: none;
    color: #06c;
    /* text-decoration: underline; */
    text-decoration-skip: ink
}

a:focus,
a:hover {
    text-decoration: none
}

/* 图片样式，加阴影 */
img {
    margin: 1em 0;
    max-width: 100%;
    box-shadow: 0px 0px 10px 5px rgba(98, 98, 98, 0.33);
}

/* 代码样式 */
code
{
    font-size: 1em;
    color: #000000;
    padding: 2px 4px
}
/* 代码部分的灰色背景 */
pre>code {
    background-color: rgba(0, 0, 0, .02);
    display: block;
    padding: .5em;
    -webkit-text-size-adjust: none;
    overflow-x: auto;
    white-space: pre
}
