---
layout: default
---
<h1>{{ page.title }} 专栏</h1>
<p>{{ page.info }}</p>

<h1>最新</h1>
<ul>
    {% for blog in site.blogs reversed %}
        {% if blog.category == page.title %}
            <li>
                <h2><a class="blog" href="{{ blog.url }}">{{ blog.title }}</a></h2>
                <p class="info">{{ blog.date | date: "%Y-%m-%d" }} ｜ #Words: {{ blog.content | number_of_words: "auto" }} </p>
                
                <p>{{ blog.excerpt }}</p>
            </li>
        {% endif %}
    {% endfor %}
</ul>
