---
layout: default
---
<h1>{{ page.title }} 专栏</h1>
<p>{{ page.info }}</p>

<h1>最新</h1>
<ul>
    {% for blog in site.blogs reversed %}
        {% if blog.category == page.title %}
            <li>
                <h2><a class="blog" href="{{ blog.url }}">{{ blog.title }}</a></h2>
                <p class="info">{{ blog.date | date: "%Y-%m-%d" }} ｜ #Words: {{ blog.content | number_of_words: "auto" }} </p>
                {% assign excerptParts = blog.excerpt | split: "<!-- excerpt-start -->" %}
                <p>{{ excerptParts[1] | strip_html }}</p>
                {% if blog.image != nil %}
                <img src="{{ blog.image }}" style="box-shadow: 0px 0px 0px 0px; max-height: 500px; margin-left: 0px; margin-top: 10px;">
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
