<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv='content-language' content='zh-CN'>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="assets/css/headerstyle.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/blogstyle.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        {% if page.info != "" %}
        <meta name='description' content='{{ page.info }}'>
        {% endif %}
        
        {% seo %}
    </head>
    <body>
        {% include navigation.html %}
        <div class="stackedit__html">
            {{ content }}
        </div>
    </body>
</html>